body {
	background-color: #f9f9f9;
}

.wrapper {
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	margin: auto;
	width: 1060px;
	
	background-color: #ffffff;
	font-family: Arial, sans-serif;
}

.menu-links,
.footer {
	padding: 0px 48px 0px 24px;
}

.logo {
	padding: 50px 0px 40px 40px;
}

.container {
	padding: 40px 40px 0px 70px;
}

.menu-links {
	height: 40px;
	margin: 0px 46px;
	width: 899px;
	
	background-color: #585858;
}

.menu-links a{
	display: inline-block;
	padding: 0 24px;
	line-height: 40px;
	width: 72px;

	border-left: 1px solid #585858;
	border-right: 1px solid #585858;
	
	color: #ebebeb;
	text-decoration: none;
	text-align: center;
}

.menu-links a:hover {
	background-color: #474747;
	border-left: 1px solid #838383;
	border-right: 1px solid #838383;
}

.container > .left-menu {
	float: left;
	
	line-height: 40px;
	width: 240px;
}

.left-menu a {
	border-bottom: 1px solid #c8c8c8;
	border-right:  1px solid #c8c8c8;
	border-left:  1px solid #c8c8c8;

	display: block;
	padding: 0 24px;
	
	color: #656363;
	text-decoration: none;
}

.left-menu a:first-child {
   border-top: 1px solid #c8c8c8;
}

.left-menu a:hover {
	padding-left: 36px;
	color: #2c2c2c;
	background-color: #f9f9f9;
}

.container > .image-container {
	float: right;

	border: 1px solid #c8c8c8;
	height: 371px;
	padding: 38px 172px 0px 0px;
	width: 471px;
}

.container > .text-info {
	display: inline-block;
	line-height: 20px;
	padding: 40px 0px 0px 300px;
	width: 630px;
}

.image-container img {
	padding-left: 60px;
}
.footer {
	padding-bottom: 40px;
}

.footer nav {
	line-height: 40px;
	margin: 40px 0px 40px 24px;
	padding: 0px 24px 0px 48px;

	background-color: #e1e1e1;
}

.footer nav a {
	padding: 0 48px;

	text-decoration: none;
	color: #000000;
}

.footer nav a:first-child {
	padding-left: 0;
	padding-right: 48px;
}

.footer nav a:hover {
	text-decoration: underline;
}

.footer nav p {
	float: right;
}
